.settings
.classpath
.checkstyle
.project
.idea
.run
*.iml
build
webapp/META-INF/MANIFEST.MF
/pluto/
atlassian*.xml
target/
MANIFEST.MF
.springBeans
.beabuild.txt
pluto-core/.freemarker-ide.xml
out/*
rebel.xml
rebel-*.xml
/bin/
*.bak
node_modules
node_tmp
postgres/*
.DS_Store
.kotlintest
*.xml.versionsBackup
*.patch
.factorypath

